.title {
  padding-top: 32px;
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
}
.sub__title {
  margin-top: 2px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.slider__block-link {
  text-decoration: none;
}
.slider__block {
  margin-right: 16px;
}
.slider__scrim {
  display: none;
}
.slider__image {
  position: relative;
}
.accommodation {
}
.popular {
}
.houses {
}
.accommodation .slider__block {
  width: 100%;
  max-width: 170px;
}

.accommodation .slider__content {
  padding: 16px 0 0;
}

.popular .slider__block {
  width: 100%;
  max-width: 170px;
}
.popular .slider__content {
  margin: 16px 0 0;
}

.navigation .slider__content {
  display: none;
}
.navigation .slider__scrim {
  display: block;
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: white;
}
.navigation .slider__block-link {
}
.navigation.slider__image img {
}

.houses .slider__block {
  width: 100%;
  max-width: 259px;
}
.houses .slider__content {
  margin: 16px 0 0;
}

.blog .slider__block {
  width: 100%;
  max-width: 263px;
}
.blog .slider__content {
  margin: 16px 0 0;
}

.slider__inner {
  padding: 16px 0px;
  display: flex;
  /* justify-content: space-between; */
  width: 100%;
}

.slider__image {
  min-width: 170px;
}
.slider__image img {
  width: 100%;
  min-height: 180px;
  height: 100%;
  object-fit: cover;
}
.slider__title {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color: #000;
  text-decoration: none;
  max-height: 24px;
  overflow: hidden;
}
.slider__info {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #6b6b6b;
}

.extra__info {
  display: none;
}
.houses .extra__info {
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.extra__info p {
  color: #000;
  font-weight: 600;
  margin: 0;
  margin-right: 8px;
}
.extra__info div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #003580;
  color: white;
  border-radius: 5.09091px 5.09091px 5.09091px 0;
  width: 28px;
  height: 28px;
  font-weight: 500;
}
